.App {
	text-align: center;
	font-size: larger;
	font: 900;
	color: white;
	margin-top: 70px;
}

.TodoForm {
	display: flex;
	width: 400px;
	margin: auto;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	align-items: center;
	margin-bottom: 10px;
	background-color: rgb(255 255 255 / 30%);
	backdrop-filter: blur(10px);

	.todo-input {
		width: 100%;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 10px;
		margin-bottom: 10px;
		margin-right: 10px;

		&:focus {
			outline: none;
		}
	}

	.todo-btn {
		width: 30%;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 10px;
		margin-bottom: 10px;
		background-color: #4caf50;
		color: white;
		cursor: pointer;

		&:hover {
			background-color: #45a049;
			transition: 200ms ease-in-out;
		}
	}
}

.Todo {
	display: flex;
	margin: auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	align-items: center;
	background-color: rgb(255 255 255 / 30%);
	backdrop-filter: blur(10px);
	margin-top: 10px;

	> p {
		cursor: pointer;
	}

	.ico {
		margin-left: 40px;
		color: white;
		cursor: pointer;

		&:hover {
			color: rgb(224, 69, 69);
		}
	}
}

.TodoWrapper {
	display: flex;
	flex-direction: column;
}

.completed {
	text-decoration: line-through;
	color: rgb(179, 179, 179);
}
