body {
	background-color: #000;
	background-image: url('/public/bg.svg');
	background-position: top right;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}
